.card {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  padding: 20px;
  h2 {
    background-color: #23662f;
    border-radius: 10px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 4px;
  }
  h3 {
    width: 100%;
    text-align: end;
  }
}
